.container_cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 20px;
  }
  
  .card p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .cardAuthor {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover .cardAuthor {
    opacity: 1;
  }
  
  .cardHover {
    transition: background-color 0.3s;
  }
  
  .cardHover:hover {
    background-color: #f0f0f0;
  }
  